<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trippy Ind</title>
<body>
<h1>
<marquee behavior="alternate" direction="left">PERFIL</marquee>
</h1>

<p>{{error}}</p>

<p>Hola {{nombredeusuario}}</p>

<a href="/api/sessions/logout">CERRAR SESIÓN</a>
</body>
</html>