<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippy ind</title>
</head>
<body>
    <!-- NAVBAR CREATION -->
   <header class="header">
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/registro">REGISTRARSE</a>
        <a href="/iniciarsesion">INICIAR SESIÓN</a>
        <a href="/videojuegos">PRODUCTOS</a>
        <a href="/perfil">YO</a>
    </nav>
<style>
body {
    height: 100vh;
    width: 100%;
    background: rgb(206, 205, 205);
}
.navbar {
    text-align: center;
    align-items: center;
    width: 400px;
    display: flex;
    padding: 20px;
}
</style>
       
{{{body}}}
    
</body>

</html>